
    :root {
        --width-A4: 21cm;
        --height-A4: 29.7cm;
        --background-normes-A4: url(assets/images/pages/normes.png);
    }
    
    body {
        -webkit-print-color-adjust: exact !important;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(150, 150, 150, 1); /* FOND GRIS */
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        display: block;
        background: white;
        margin: 10mm auto; /* MARGE ENTRE LES FEUILLES, A ENLEVER DANS MEDIA PRINT */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        page-break-after: always;
    }

    .page[size="A4"] {
        width: var(--width-A4);
        min-width: var(--width-A4);
        max-width: var(--width-A4);
        height: var(--height-A4);
        min-height: var(--height-A4);
        max-height: var(--height-A4);
        padding: 0mm; /* DELIMITE LA PARTIE UTILISABLE DE LA FEUILLE */
        background-image: var(--background-normes-A4);
    }
    .subpage {
        text-align:center;
        padding: 30mm;
        border: 1px black solid; /* MARGE ENTRE LES FEUILLES, A ENLEVER DANS MEDIA PRINT */
        width: var(--width-A4);
        min-width: var(--width-A4);
        max-width: var(--width-A4);
        height: var(--height-A4);
        min-height: var(--height-A4);
        max-height: var(--height-A4);
    }
    @page {
        size: A4;
        margin: 0;
    }

    @media print {
        html, body {
            width: var(--width-A4);
            height: var(--height-A4);        
        }
        .page {
            margin: 0;
            width: initial;
            min-width: initial;
            max-width: initial;
            height: initial;
            max-height: initial;
            min-height: initial;
            background-repeat: no-repeat;
            
            page-break-after: always;
        }

    }
    
.gapped-card-front, .completion-card-front, .gapped-card-back, .completion-card-back {
    display       : inline-block;
    vertical-align: top;
    position      : relative;
    margin        : 6mm 3mm;
    padding       : 15px;
    width         : 65mm;
    height        : 90mm;
    border        : 3px solid black;
    border-radius : 10px;
}


.gapped-card-front, .gapped-card-back {
    background-color: black;
}

.completion-card-front, .completion-card-back {
    background-color: white;
}

.front-content-container {
    position  : relative;
    top: 25px;
    display: table;
    width: 100%; /* width of parent */
    height: 200px; /* height of parent */
}
.gapped-card-content, .completion-card-content  {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
    
}

.gapped-card-content {
    color: white;
}

.completion-card-content {
    color: black;
}

.img-container-front {
    position  : absolute;
    width     : 50px;
    bottom    : 20px;
    left      : 50%;
    transform : translateX(-50%);
}

.gapped-card-back-main-container {
    position  : absolute;
    width     : 120px;
    top       : 50px;
    left      : 50%;
    transform : translateX(-50%);
    color: white;
}

.gapped-card-back-footer-container {
    position  : absolute;
    width     : 120px;
    bottom    : -35px;
    left      : 50%;
    transform : translateX(-50%);
    color: white;
}

.gapped-card-front-header-container {
    
    position  : absolute;
    width     : 90%;
    top       : 10px;
    left      : 50%;
    transform : translateX(-50%);
    color: white;
}

.gapped-card-front-header-left {
    float:left;
    width     :  20px;
}

.gapped-card-front-header-right {
    float:right;
    width     :  20px;
}

.img-block {
    display : block;
    margin  : 0 auto;
    width   : 100%;
}



